.MuiTableHead-root {
    background-color: rgb(228, 227, 227);
}

.MuiTableContainer-root {
    box-shadow: none !important;
}

.tablelink {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    color: blue;
    font-size: 12px;
}

.bullions__img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}